* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a
    );

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 550px;
}

.login-card {
    background: white;
    padding: 40px;
    border-radius: 18px;

    box-shadow:
        0 15px 40px rgba(0,0,0,0.25);
}

.register-card {
    max-width: 100%;
}

.login-card h1 {
    text-align: center;
    color: #2563eb;
    margin-bottom: 10px;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    font-weight: 600;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {

    width: 100%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;
    transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {

    border-color: #2563eb;
}

.login-btn {

    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #1d4ed8;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}

.home-link {

    display: block;
    text-align: center;

    margin-top: 15px;

    text-decoration: none;
    color: #555;
}

.flash {

    padding: 12px;
    border-radius: 8px;

    margin-bottom: 15px;
    text-align: center;
}

.flash.success {
    background: #dcfce7;
    color: #166534;
}

.flash.error {
    background: #fee2e2;
    color: #991b1b;
}

#studentFields,
#professorFields {
    margin-top: 10px;
}

@media (max-width: 600px) {

    .login-card {
        padding: 25px;
    }

    .login-card h1 {
        font-size: 28px;
    }

    .login-card h2 {
        font-size: 22px;
    }
}